<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hussainalmahdi.android.zyara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zyara">
        <activity android:name="com.hussainalmahdi.android.matloob.ActivityAfterLogIn"></activity>
        <activity android:name="com.hussainalmahdi.android.matloob.RegisterAsBusiness" />
        <activity android:name="com.hussainalmahdi.android.matloob.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>